<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tf.vms.system.mapper.VmsBatchVendorOrderMapper">
    <resultMap type="VmsBatchVendorOrder" id="VmsBatchVendorOrderResult">
        <result property="oid"    column="oid"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="vendorOid"    column="vendor_oid"    />
        <result property="orderFsipUrl"    column="order_fsip_url"    />
        <result property="batchStatus"    column="batch_status"    />
    </resultMap>
    <sql id="selectVmsBatchVendorOrderVo">select oid, batch_no, vendor_oid, order_fsip_url, batch_status from vms_batch_vendor_order</sql>
    <select id="selectVmsBatchVendorOrderList" parameterType="VmsBatchVendorOrder" resultMap="VmsBatchVendorOrderResult">
        <include refid="selectVmsBatchVendorOrderVo"/><where>
            <if test="batchNo != null and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="vendorOid != null and vendorOid != ''"> and vendor_oid = #{vendorOid}</if>
            <if test="orderFsipUrl != null and orderFsipUrl != ''"> and order_fsip_url = #{orderFsipUrl}</if>
            <if test="batchStatus != null and batchStatus != ''"> and batch_status = #{batchStatus}</if>
        </where>
    </select>
    <select id="selectVmsBatchVendorOrderByOid" parameterType="Long" resultMap="VmsBatchVendorOrderResult">
        <include refid="selectVmsBatchVendorOrderVo"/> where oid = #{oid}
    </select>
    <insert id="insertVmsBatchVendorOrder" parameterType="VmsBatchVendorOrder" useGeneratedKeys="true" keyProperty="oid">
        insert into vms_batch_vendor_order <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">batch_no,</if>
            <if test="vendorOid != null">vendor_oid,</if>
            <if test="orderFsipUrl != null">order_fsip_url,</if>
            <if test="batchStatus != null">batch_status,</if>
        </trim><trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">#{batchNo},</if>
            <if test="vendorOid != null">#{vendorOid},</if>
            <if test="orderFsipUrl != null">#{orderFsipUrl},</if>
            <if test="batchStatus != null">#{batchStatus},</if>
        </trim>
    </insert>
    <update id="updateVmsBatchVendorOrder" parameterType="VmsBatchVendorOrder">
        update vms_batch_vendor_order <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="vendorOid != null">vendor_oid = #{vendorOid},</if>
            <if test="orderFsipUrl != null">order_fsip_url = #{orderFsipUrl},</if>
            <if test="batchStatus != null">batch_status = #{batchStatus},</if>
        </trim> where oid = #{oid}
    </update>
    <delete id="deleteVmsBatchVendorOrderByOid" parameterType="Long">delete from vms_batch_vendor_order where oid = #{oid}</delete>
    <delete id="deleteVmsBatchVendorOrderByOids" parameterType="String">
        delete from vms_batch_vendor_order where oid in
        <foreach item="oid" collection="array" open="(" separator="," close=")">#{oid}</foreach>
    </delete>
</mapper>
