<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tf.vms.system.mapper.VmsVoucherTemplateMapper">

    <resultMap type="VmsVoucherTemplate" id="VmsVoucherTemplateResult">
        <result property="oid"    column="oid"    />
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateCode"    column="template_code"    />
        <result property="templateType"    column="template_type"    />
        <result property="category"    column="category"    />
        <result property="price"    column="price"    />
        <result property="spec"    column="spec"    />
        <result property="unit"    column="unit"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="vendorId"    column="vendor_id"    />
        <result property="manageOrg"    column="manage_org"    />
        <result property="managePerson"    column="manage_person"    />
        <result property="managePhone"    column="manage_phone"    />
        <result property="version"    column="version"    />
        <result property="fsipUrl"    column="fsip_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectVmsVoucherTemplateVo">
        select oid, template_id, template_name, template_code, template_type, category, price, spec, unit, tax_rate, vendor_id, manage_org, manage_person, manage_phone, version, fsip_url, create_by, create_time, update_by, update_time, remark, status from vms_voucher_template
    </sql>

    <select id="selectVmsVoucherTemplateList" parameterType="VmsVoucherTemplate" resultMap="VmsVoucherTemplateResult">
        <include refid="selectVmsVoucherTemplateVo"/>
        <where>
            <if test="templateId != null  and templateId != ''"> and template_id = #{templateId}</if>
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="templateCode != null  and templateCode != ''"> and template_code = #{templateCode}</if>
            <if test="templateType != null  and templateType != ''"> and template_type = #{templateType}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="spec != null  and spec != ''"> and spec = #{spec}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="taxRate != null "> and tax_rate = #{taxRate}</if>
            <if test="vendorId != null  and vendorId != ''"> and vendor_id = #{vendorId}</if>
            <if test="manageOrg != null  and manageOrg != ''"> and manage_org = #{manageOrg}</if>
            <if test="managePerson != null  and managePerson != ''"> and manage_person = #{managePerson}</if>
            <if test="managePhone != null  and managePhone != ''"> and manage_phone = #{managePhone}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="fsipUrl != null  and fsipUrl != ''"> and fsip_url = #{fsipUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectVmsVoucherTemplateByOid" parameterType="Long" resultMap="VmsVoucherTemplateResult">
        <include refid="selectVmsVoucherTemplateVo"/>
        where oid = #{oid}
    </select>

    <insert id="insertVmsVoucherTemplate" parameterType="VmsVoucherTemplate" useGeneratedKeys="true" keyProperty="oid">
        insert into vms_voucher_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null and templateId != ''">template_id,</if>
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="templateCode != null">template_code,</if>
            <if test="templateType != null">template_type,</if>
            <if test="category != null">category,</if>
            <if test="price != null">price,</if>
            <if test="spec != null">spec,</if>
            <if test="unit != null">unit,</if>
            <if test="taxRate != null">tax_rate,</if>
            <if test="vendorId != null">vendor_id,</if>
            <if test="manageOrg != null">manage_org,</if>
            <if test="managePerson != null">manage_person,</if>
            <if test="managePhone != null">manage_phone,</if>
            <if test="version != null">version,</if>
            <if test="fsipUrl != null">fsip_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null and templateId != ''">#{templateId},</if>
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="templateCode != null">#{templateCode},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="category != null">#{category},</if>
            <if test="price != null">#{price},</if>
            <if test="spec != null">#{spec},</if>
            <if test="unit != null">#{unit},</if>
            <if test="taxRate != null">#{taxRate},</if>
            <if test="vendorId != null">#{vendorId},</if>
            <if test="manageOrg != null">#{manageOrg},</if>
            <if test="managePerson != null">#{managePerson},</if>
            <if test="managePhone != null">#{managePhone},</if>
            <if test="version != null">#{version},</if>
            <if test="fsipUrl != null">#{fsipUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateVmsVoucherTemplate" parameterType="VmsVoucherTemplate">
        update vms_voucher_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateId != null and templateId != ''">template_id = #{templateId},</if>
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="templateCode != null">template_code = #{templateCode},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="category != null">category = #{category},</if>
            <if test="price != null">price = #{price},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="taxRate != null">tax_rate = #{taxRate},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="manageOrg != null">manage_org = #{manageOrg},</if>
            <if test="managePerson != null">manage_person = #{managePerson},</if>
            <if test="managePhone != null">manage_phone = #{managePhone},</if>
            <if test="version != null">version = #{version},</if>
            <if test="fsipUrl != null">fsip_url = #{fsipUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where oid = #{oid}
    </update>

    <delete id="deleteVmsVoucherTemplateByOid" parameterType="Long">
        delete from vms_voucher_template where oid = #{oid}
    </delete>

    <delete id="deleteVmsVoucherTemplateByOids" parameterType="String">
        delete from vms_voucher_template where oid in
        <foreach item="oid" collection="array" open="(" separator="," close=")">
            #{oid}
        </foreach>
    </delete>
</mapper>